/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.profile-header {
  margin-bottom: 20px;
  display: flex;
}

.profile-header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-header h1 {
  color: #333;
  margin-left: 20px;
  margin-top: 60px;
}

.profile-header select {
  margin-left: auto;
  width: 150px;
  height: 30px;
  color: #333;
}

.spotify-list-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Top Artists Container */
.top-artists-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  background-color: #7785AC;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

/* Heading */
.top-artists-container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

/* Top Artists List */
.top-artists-list {
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Top Artist Item */
.top-artist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 10px);
  margin-bottom: 20px;
  text-align: center;
}

/* Artist Image */
.artist-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.album-image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.artist-image:hover {
  transform: scale(1.1);
}

.album-image:hover {
  transform: scale(1.1);
}

/* Artist Name */
.song-name {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.artist-name {
  font-size: 14px;
  color: #333;
  font-weight: 550;
}

.artist-rank {
  font-size: 16px;
  color: #555;
  font-weight: 900;
}

.see-more {
  position: absolute;
  bottom: 10px;
  /* Adjust this value based on desired spacing */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #003;
  color: #fff;
  border-radius: 4px;
  /* Optional: rounded corners */
  cursor: pointer;
  text-align: center;
}

.top-list-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  background-color: #7785AC;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.top-list-container h2{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.top-songs-list {
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.top-song-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 20px);;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.song-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #93B7BE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* For popup-overlay */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* For popup-content */
.popup-enter {
  opacity: 0;
  transform: scale(0.9);
}

.popup-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.popup-exit {
  opacity: 1;
  transform: scale(1);
}

.popup-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.popup-content {
  text-align: center;
}

.popup-album-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.popup-song-name {
  font-size: 18px;
  font-weight: bold;
}

.popup-artist-name {
  font-size: 14px;
  color: #555;
}

.popup-buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #2F394D;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button:hover {
  background-color: #0056b3;
}
